{% extends 'layout/frontAdmin.html.twig' %}

{% block title %}jWC!{% endblock %}
{#{% block bodyClass %}{{ color }}{% endblock %}#}
{% block body %}
    <div>
        <h1>Bienvenue Admin sur jWC! ✅</h1>
    </div>

        <p>Tu es Admin !!!!</p>

{% endblock %}