{% extends 'layout/front.html.twig' %}

{% block title %}Hello TicketController!{% endblock %}

{% block body %}
    <h3>Ticket</h3>

    {{ form_start(form) }}

    {{ form_end(form) }}
{% endblock %}
