{% extends 'layout/frontAdmin.html.twig' %}

{% block title %}Hello PostCategoryController!{% endblock %}

{% block body %}
    <h1>Editer une category</h1>

    {{ form_start(form) }}
    <div class="">
        {{ form_row(form.name) }}
    </div>
    <div class="">
        {{ form_row(form.submit) }}
    </div>
    {{ form_end(form) }}

{% endblock %}