{% extends 'layout/frontAdmin.html.twig' %}

{% block title %}Hello PostCategoryController!{% endblock %}

{% block body %}
    <h1>Ajouter un Post</h1>

    {{ form_start(form) }}

    {{ form_end(form) }}

{% endblock %}